<h1>Requests</h1>
<p>We curate all our lists, creating one new list a week.</p>
<p>Click here to <%= link_to "Request a New List", "#", class: "btn btn-default btn-xs" %> or to <%= link_to "Request a Change", "#", class: "btn btn-default btn-xs" %> in an existing list. </p>

<blockquote>
	<p>Please note that we do not have control over the order of a list, that is up to the community ratings.</p>
	<p>We can add new options to a list if an option is not included.</p>
</blockquote>
